extends layout 

block content
  .p-16.bg-base-200.h-fit
    h1.text-5xl.mb-4.font-bold= title
    form(action="" method="POST").flex.flex-col.gap-4
      div
        label(for="name") Name:
        input#name.input.input-bordered.w-full(type="text", name="name", placeholder="Type here", value=(undefined===item ? "" : item.name), required="true")
      div
        label(for="description") Description:
        input#description.input.input-bordered.w-full(type="text", name="description" placeholder="Type here", value=(undefined===item ? "" : item.description), required="true")
      div
        label(for="price") Price:
        input#price.input.input-bordered.w-full(type="number", min=0, name="price" placeholder="Type here", value=(undefined===item ? "" : item.price), required="true")
      div
        label(for="stock") Stock:
        input#stock.input.input-bordered.w-full(type="number", min=1, name="stock" placeholder="Type here", value=(undefined===item ? "" : item.stock), required="true")
      div.flex.flex-col.w-fit
        label Upload a picture:
        input(type="file", name="image")
      div.flex.flex-col.gap-2
        label Category:
        div.flex.flex-col.gap-2
          for category in categories
            div.flex.align-center.gap-2
              input(type="checkbox", name="category", id=category._id, value=category._id, checked=category.checked)
              label(for=category._id) #{category.name} 
      button.btn.btn-neutral.self-start(type="submit") Submit
    
    if errors
      ul.mt-8
        for error in errors 
          .alert.alert-error.mb-2
            svg.stroke-current.shrink-0.h-6.w-6(xmlns='http://www.w3.org/2000/svg' fill='none' viewbox='0 0 24 24')
              path(stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M10 14l2-2m0 0l2-2m-2 2l-2-2m2 2l2 2m7-2a9 9 0 11-18 0 9 9 0 0118 0z')
            span!= error.msg
